<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.student.mapper.StudentMapper">
    <resultMap id="StudentInfo" type="com.example.student.domain.Student">
        <result column="id" property="id"/>
        <result column="sn" property="sn"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="clazz_id" property="clazzId"/>
        <result column="sex" property="sex"/>
        <result column="mobile" property="mobile"/>
        <result column="qq" property="qq"/>
        <result column="photo" property="photo"/>
    </resultMap>

    <select id="queryList" resultMap="StudentInfo">
        SELECT *
        from s_student
        <where>
            <if test="username!=null"> and username LIKE concat("%",#{username},"%") </if>
        </where>
        limit #{startIndex},#{pagesize}
    </select>

    <select id="queryCount" resultType="int">
        select count(*) from s_student
        <where>
            <if test="username!=null"> and username LIKE concat("%",#{username},"%") </if>
        </where>
    </select>
</mapper>